*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header{
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.site-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #111;
}

.site-nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}

.site-nav a:hover{
    color: #000;
}

.hero{
    background: #222;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.cta-button{
    background-color: #ff5500;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover{
    background-color: #e04d00;
    transform: scale(1.5);
}

.services{
    padding: 60px 0;
    background: #fff;
}
.services h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.service-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.card{
    flex: 1 1 300px;        /*flex shorthand for grow, shrink and basis, basis is the flex container width or height that the elements must adjust to fit*/
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover{
    background-color: #fff;
    transform: translateY(-10px);1
}

.card h4{
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.card p{
    color: #666;
}

.site-footer{
    background: #222;
    color: #aaa;
    text-align: center;
    padding: 30px 0;
}

.site-footer p{
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .hero h2 {font-size: 2rem;}
    .service-cards{flex-direction: column;}
}